body {
    background-color: rgb(209, 208, 202);
}

.mainH {
        text-align: center;
        font-size: 4em;
        padding: 8px;
        font-family: aettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-weight: lighter;
        text-shadow: 2px 5px 2px rgb(223, 216, 166);
}

.home-img {
    display: block;
    margin: auto;
    width: 60vw;
    height: auto;
    box-shadow: 8px 8px 8px  rgb(211, 208, 185);
    border-radius: 2em;
}

.recipe-home {
    text-align: center;
    list-style: none;
    line-height: 1.5;
    width: 80vw;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5em;
    border: dashed;
    padding: 1em;
    background-color: rgb(245, 245, 228);

}

a:link {
    text-decoration: none;
    color: black;
    margin: auto;
  
}

a:link:hover {
    color: rgb(114, 180, 75);
}