body {
    background-color: rgb(245, 239, 214);
}

.foodTitle {
    text-align: center;
    font-size: 40px;
    background-color: rgb(235, 194, 141);
    border-radius: 2em;
    padding: 8px;
    box-shadow:  8px 8px 8px  rgb(211, 208, 185);;
    font-family: aettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
}

.lasagnaImg {
    display: block;
    margin: auto;
    width: 80vw;
    box-shadow: 8px 8px 8px  rgb(211, 208, 185);
    border-radius: 2em;
}


.smolTitle {
    font-size: 103px;
}