body {
    background-color: rgb(245, 239, 214);
    
}

.title {
    text-align: center;
    text-shadow: 2px 5px 2px rgb(223, 216, 166);
}


.foodTitle {
    font-size: 4em;
    font-family: aettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
}

.lasagnaImg {
    display: block;
    margin: auto;
    width: 60vw;
    height: auto;
    box-shadow: 8px 8px 8px  rgb(211, 208, 185);
    border-radius: 2em;
}


.smol {
    font-size: 2em;
    font-weight: lighter;
}

.howTo {
    text-align: center;
}

#ingredients {
    border: dashed;
    width: 80vw;
    padding: 1em;
    margin-top: 2em;
    margin: auto;
}
.ingredients {
    margin: auto;
    font-weight: lighter;

}

ul.foods {
   
    padding: 8px;
    margin-left: 1em;
    font-size: 1em;
    line-height: 1.8;
    
}

#steps {
    border: dashed;
    width: 80vw;
    padding: 1em;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
}

.stepList {
    line-height: 1.8;
}


.notes {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}

